<div class="row">
	<div class="col-md-1" >
		<div class="votes center">
			<span class="center">

        <%= pluralize(question.total_votes, 'vote') %>

      </span>
		</div>
	</div>
	<div class="col-md-1" >
		<div class="answers_count center">
			<span>

        <%= pluralize(question.answers.count, 'answer') %> 

      </span>
		</div>
	</div>
	<div class="col-md-10">
		<div class="questions">
			<p>
        <%= link_to question.title, question %>
      </p>
			<div class="tag">

				<%= question_search_tags(question) %>

        <span class="timestamp">modified <%= time_ago_in_words(question.updated_at) %> ago.

          <%= link_to question.user_name, user_path(id: question.user_id) %>

        </span>
			</div>
		</div>
	</div>
</div>
<hr>