<% provide(:title,"Home") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>Top Questions</h3>
		<div class="col-md-12 filters">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div id="filter">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" >
              <ul class="nav navbar-nav">
                <li class="<% if @filter == 'all'%> active <%end%>"><%= link_to 'All', "/questions/filtered_questions?order=#{@order}&filter=all" %>
                </li>
                <li class="<% if @filter == 'answered'%> active <%end%>"><%= link_to 'answered', "/questions/filtered_questions?order=#{@order}&filter=answered" %>
                </li>
                <li class="<% if @filter == 'un_answered'%> active <%end%>"><%= link_to 'unanswered', "/questions/filtered_questions?order=#{@order}&filter=un_answered" %>
                </li>
                <li class="<% if @filter == 'asked_last_week'%> active <%end%>"><%= link_to 'asked last week', "/questions/filtered_questions?order=#{@order}&filter=asked_last_week" %>
                </li>
                <li class="<% if @filter == 'accepted'%> active <%end%>"><%= link_to 'answer accepted', "/questions/filtered_questions?order=#{@order}&filter=accepted" %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <hr>
      <div id="sort">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" >
              <ul class="nav navbar-nav">
                <li class="<% if @order == 'updated_at desc'%> active <%end%>"><%= link_to 'latest', "/questions/filtered_questions?order=updated_at desc&filter=#{@filter}" %></li>
                <li class="<% if @order == 'updated_at asc'%> active <%end%>"><%= link_to 'oldest', "/questions/filtered_questions?order=updated_at asc&filter=#{@filter}" %></li>
                <li class="<% if @order == 'total_votes desc'%> active <%end%>"><%= link_to 'most voted', "/questions/filtered_questions?order=total_votes desc&filter=#{@filter}" %></li>
                <li class="<% if @order == 'total_votes asc'%> active <%end%>"><%= link_to 'least voted', "/questions/filtered_questions?order=total_votes asc&filter=#{@filter}" %></li>
                <li class="<% if @order == 'count(answers.question_id) desc'%> active <%end%>"><%= link_to 'most answered', "/questions/filtered_questions?order=count(answers.question_id) desc&filter=#{@filter}" %></li>
                <li class="<% if @order == 'count(answers.question_id) asc'%> active <%end%>"><%= link_to 'least answered', "/questions/filtered_questions?order=count(answers.question_id) asc&filter=#{@filter}" %></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <hr>
    <hr>
    <%= render @questions %>
    <%= will_paginate @questions %>
  </div>
</div>
