<% provide(:title,"Home") %>

<div class="container-fluid">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2">
  		<h3>Top Questions</h3>
  		<div class="col-md-12 filters">

        <%= flash_message %>

        <div id="filter">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" >

                <%= render partial: 'filters' %>

              </div>
            </div>
          </nav>
        </div>
        <hr>
        <div id="sort">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" >

                <%= render partial: 'sort' %>

              </div>
            </div>
          </nav>
        </div>
      </div>
      <hr>
      
      <div id="questions-list">

        <%= render @questions %>

      </div>

      <%= will_paginate @questions %>
    </div>
  </div>
</div>
