<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
		<h3><%= @question.title %></h3>
		<hr>
		<div class="col-md-1">
			<div class="voting">
        <% if user_signed_in? %>
        <div class="<% if @question.upvote %>arrow-up on <% else%>arrow-up <% end %>" id="upvote_question" name = "<%= @question.id %>" disabled > </div>
        <% else %>
        <div class="arrow-up"> </div>
        <% end %>
        <span class="vote_count" id="question_votes_count"><%= @question.total_votes %></span>
        <% if user_signed_in? %>
        <div class="<% if @question.downvote %>arrow-down on <% else%>arrow-down <% end %>" id="downvote_question" name = "<%= @question.id %>"> </div>
        <% else %>
        <div class="arrow-down"> </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-11">
      <p><%= @question.content.html_safe %></p>
      <div class="tag" >
        <p>
         <% @question.tags_separator.each do |tag| %>
         <%= link_to tag, search_questions_path(:content => tag) %>
         <% end %>
        </p>
      </div>
      <div class="editing">
        <div class="timestamp">
           asked <%= time_ago_in_words(@question.created_at) %> ago.
           <div>
            <%= gravatar_for @question.user %>
            <%= link_to @question.user_name, user_path(:id => @question.user_id)	%>
          </div>
        </div>
        <% if user_signed_in? %>
          <% if auther?(@question.user) || current_user.admin? %>
            <div>
               <%= link_to 'edit', edit_question_path(:id => @question.id) %>
               <%= link_to "delete", @question, method: :delete,
               data: { confirm: "are you really want to delete?" } %>
            </div>
         <% end %>
       <% end %>
      </div>
    </div>
    <div class="col-md-11 col-md-offset-1 comment">
      <%= render @comments %>
      <hr>
      <% if user_signed_in? %>
        <%= link_to 'add comment', '', :id => 'question_comment', :name => @question.id %>
      <% else %>
        <%= link_to 'add comment', '' %>
      <% end %>
      <div class="comment_form" id="question_comment_form">
        <%= form_for comment = @question.comments.build, url: { :controller => 'comments', :action => 'create', :question_id => @question.id }  do |f| %>
        <%= render 'shared/error_messages', object: comment %>
        <%= f.text_area :body, class: 'form-control', rows: 3, required: true%>
        <p>maximum length 254 characters
        </p>
        <%= submit_tag 'Post comment', class: 'btn btn-primary col-md-3'%>
        <% end %>
        <%= link_to 'cancel', '', :id => "cancel_question_comment" %>
      </div>
    </div>
    <hr>
    <h4><%= pluralize @answers.count,'answer' %></h4>
    <hr>
    <%= render @answers %>
    <%= render 'answers/answer_form' %>
  </div>	
</div>
