<div class="container">
	<div class="col-md-8 col-md-offset-2">

		<%= flash_message %>

		<h3><%= @question.title %></h3>
		<hr>
		<div class="col-md-1">

		  <%= render partial: 'vote' %>

    </div>
    <div class="col-md-11">
      <p><%= sanitize(@question.content) %></p>

      <div class="tag">
        <%= question_search_tags(@question) %>
      </div>

      <div class="editing">
        <div class="timestamp">
          <p >asked <%= time_ago_in_words(@question.created_at) %> ago. </p>

          <%= gravatar_for(@question.user_name, @question.user_email) %>

          <%= link_to @question.user_name, user_path(id: @question.user_id) %>

        </div>

        <% if user_signed_in? && auther?(@question) %>
          <%= link_to 'edit', edit_question_path(id: @question.id) %>

          <%= link_to "delete", @question, method: :delete,
                                data: { confirm: "are you really want to delete?" } %>
        <% end %>
      </div>
    </div>

    <div class="col-md-11 col-md-offset-1 comment">
      <div id="comment_list_question<%= @question.id %>">

        <%= render @comments %>

      </div><hr>

       <%= render 'comments/comment_form', commentable: @question, type: 'question' %>

    </div>
    <hr>
    <h4><%= pluralize @answers.count,'answer' %></h4><hr>

    <div id="answer_list_view">

      <%= render @answers %>

    </div>

    <%= render partial: 'answers/form' %>
    
  </div>	
</div>
