<li>
	<%= gravatar_for user %>
	<%= link_to user.name, user %>
  <div class="user-info">
    <p class="center">
      joined <%= time_ago_in_words(user.created_at) %> ago
    </p>
    <p class="center">
      <b>Question :</b> <%= user.questions.count %>
      <b>Answers : </b><%= user.answers.count %>
    </p>
    <p class="center">
      <% if user_signed_in? %>
        <% if current_user.admin? && current_user.id != user.id %>
          <%= link_to "delete", user, method: :delete,
          data: { confirm: "are you really want to delete '#{user.name}'?" } %>
        <% end %>
      <% end %>
    </p>
  </div>
</li>