<h1><%= @subject %></h1>
<p>
  <b><%= link_to @question.user_name, @user  %></b> <%= @body %> your question '<%= @question.title%>'.
</p>
<p>To view details click below</p>
<%= link_to @question.title, @question %>
