<div class="answers">
  <div class="row">
    <div class="col-md-1">

      <%= render partial: 'answers/vote', locals: { answer: answer } %>

    </div>
    <div class="col-md-11">
      <p>
        <%= sanitize(answer.content) %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="correct-status">

        <% if user_signed_in? && current_user.activated? && auther?(@question) %>
          <%= link_to update_accept_status_answer_path(answer.id), method: :patch, remote: true do %>
            <p id= 'answer_correct_status_<%= answer.id %>', class="correct <%= 'on' if answer.accepted? %>"> &#10004; </p>
          <% end %>
        <% else %>
          <p class="correct <%= 'on' if answer.accepted? %>"> &#10004; </p>
        <% end %>
      </div>
    </div>
    <div class="col-md-11">
     <div class="timestamp">
        <p >answered <%= time_ago_in_words(answer.created_at) %> ago. </p>

        <%= gravatar_for(answer.user_name, answer.user_email) %>

        <%= link_to answer.user_name, user_path(id: answer.user_id) %>
      </div>

      <% if user_signed_in? && auther?(answer) %>
        <%= link_to 'edit', edit_answer_path(id: answer.id) %>

        <%= link_to "delete", answer_path(id: answer.id), method: :delete,
                              data: { confirm: "are you really want to delete?" } %>
      <% end %>
    </div>

    <div class="col-md-11 col-md-offset-1 comment">
      <div id="comment_list_answer<%= answer.id %>">

        <%= render answer.comments %>

      </div>
      <hr>

      <%= render 'comments/comment_form', commentable: answer, type: 'answer' %>

    </div>
  </div>
</div>
<hr>